$font-family-default: Tahoma, Arial, sans-serif;

$font-size-small: 13px;
$font-size-default: 16px;
$font-size-large: 19px;

$line-height-small: 16px;
$line-height-default: 20px;
$line-height-large: 30px;

$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
